/* 添加您的样式 */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background-color: #f0f0f0;
    transition: all 0.3s;
}

.content {
    margin-left: 250px;
    padding: 1em;
}

.toggle-button {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1; /* 保证按钮位于最上层 */
    padding: 8px 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}

/* 添加样式用于突出显示 Markdown 内容 */
.markdown-content {
    padding: 50px;
    width: 1330px;
    background-color: #c9c6c6;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1320; /* 设置最大宽度为父元素宽度 */
    overflow: hidden; /* 隐藏溢出的内容 */
    text-overflow: ellipsis; /* 用省略号表示溢出的文本 */
}

/* 限制图像的最大宽度 */
.markdown-content img {
    max-width: 100%; /* 图像的最大宽度为其容器的100% */
    height: auto; /* 确保图像的高度按比例调整 */
}

@media (max-width: 600px) {
    .sidebar {
        width: 0;
        visibility: hidden;
    }
    .content {
        margin-left: 0;
    }
    .toggle-button {
        display: block;
    }
}

.file-item {
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.file-item:hover {
    background-color: #f0f0f0;
}

.file-list{
    padding: 16px;
    padding-top: 50px;
}

.file-list .selected {
    background-color: #cce5ff;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

