/* 添加您的样式 */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background-color: #f0f0f0;
    transition: all 0.3s;
}

.content {
    margin-left: 250px;
    padding: 1em;
}

.toggle-button {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* 添加样式用于突出显示 Markdown 内容 */
.markdown-content {
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 600px) {
    .sidebar {
        width: 0;
        visibility: hidden;
    }
    .content {
        margin-left: 0;
    }
    .toggle-button {
        display: block;
    }
}

.file-item {
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.file-item:hover {
    background-color: #f0f0f0;
}

.file-list{
    padding: 16px;
}

/* 添加箭头样式 */
.tree .expandable {
    cursor: pointer;
    user-select: none;
    position: relative; /* 添加相对定位 */
}

.tree .expandable > span::before {
    content: '\25B8'; /* 默认箭头为右箭头 */
    display: inline-block;
    margin-right: 5px;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
    position: absolute; /* 绝对定位相对于父元素 */
    left: -15px; /* 调整箭头位置 */
    top: 50%; /* 竖直居中 */
    transform: translateY(-50%);
}

.tree .expanded > span::before {
    transform: rotate(0deg);
}


.file-list .selected {
    background-color: #cce5ff;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
